/*
quando pegar o html pelo id usar # no CSS
quando pegar o html pela class usar o . no CSS
quando pelar o html pelo nome do componente usar apenas o nome do componento no CSS
*/


:root{
    --dark-color: #363f5f;
    --green:#49AA26;
    --ligth-green:#3dd705;
    --red: #e92929;
    --ligth-red: #fc0101;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 93.75%;
}

/* CSS Trics = Truque de CSS para deixar invisivel */
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    border: solid 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.conteiner{
    width: min(90vw, 800px);
    margin: auto;
}

/*HEADER===================*/
h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-color);
    font-weight: normal;
}

header {
    background: #2d4a22;
    padding: 2rem 0 8rem;
    text-align: center;    
    padding-top: 3rem;
}

#logo{
    color: #fff;
    font-weight: 100;
}
/*Link e Botoes===================*/
a{
    color: var(--green);
    text-decoration: none;
}

a:hover{
    color: var(--ligth-green);
}

.button.new{
    display: inline-block;
    margin-bottom: 0.8rem;
}

button{
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background: var(--green);
    padding: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover{
    background-color: var(--ligth-green);
}

a.button.cancel{
    font-weight: bold;
    color: var(--red);
    border: 2px var(--red) solid;
    padding: 0.25rem;
    width: 100%;
    height: 50px;
    border-radius: 0.25rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

a.button.cancel:hover{
    background: var(--ligth-red);
    color: white;
    opacity: 50%;
}

/*Balance===================*/
#balance{
    margin-top: -5rem;
}

#balance h2{
    color: white;
    margin-top: 0;
}

/*Cards===================*/
.card {
    background: white;
    padding: 1.5rem;
    border-radius: 0.35rem;
    margin-bottom: 2rem;
    color: var(--dark-color);
}

.card h3{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p{
    font-size: 2rem;
    font-weight: normal;
    line-height: 3rem;
}

.card.total{
    background: var(--green) ;
    color: white;
}

/*Table===================*/

#transaction{
    display: block;
    width: 100%;
    overflow-x: auto;
}

#data-table{
    width: 100%;
    border-spacing: 0rem 0.5rem;
    color: var(--dark-color);
}

table thead tr th:first-child, 
table tbody tr td:first-child{
    border-radius: 0.90rem 0 0 0.90rem;
}

table thead tr th:last-child,
table tbody tr td:last-child{
    border-radius: 0rem 0.90rem 0.90rem 0rem;
}

table thead th{
    background: white;
    font-weight: bold;
    padding: 1rem 2rem;
    text-align: left;
    color: var(--dark-color);
}  
  table tbody tr:hover{
    opacity:50%;
  }

table tbody td {
    background: white;
    padding: 1rem 2rem;
}

td.description{
    color: var(--dark-color);
}

.entrada{
    color: var(--green);
}

.saida{
    color: var(--red);
}

/*Modal===================*/
.modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal{
    background: #f0f2f5;
    padding: 2.4rem;
    position: relative;
    width: 90%;
    max-width: 500px;
}

/*Form===================*/
#form{
    max-width: 500px;
}

#form h2{
    margin-top: 0;
}

input{
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}

.input-group{
    margin: 0.8rem;
}

.input-group small{
    opacity: 0.4;
}

.input-group.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions button,
.input-group.actions .button{
    width: 48%;
}


/*Footer===================*/

footer{
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-color);
    opacity: 0.7;

}

/*Responsive===================*/
/*abaixo de 800px aplica o CSS @media = true, acima de 800px aplica a regra do CSS de cima*/
@media (min-width: 800px){
    html{
        font-size: 87.5%; /*font-size: 14ps*/
    }

    #balance{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}